<div class="page-content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" *ngIf="myTaskList">
      <br>
      <br>
      <activiti-tasklist [assignment]="'assignee'" [state]="taskState" [data]="myTaskListDataTable" (rowClick)="onTaskRowClick($event)"
        (onSuccess)="onSuccessTaskList($event)"></activiti-tasklist>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" *ngIf="!myTaskList">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="backToTaskList()">
          Back to Task List
        </button>
      <br><br>
      <process-task-stepper [steps]="steps" (onStepChange)="taskSelectionChanged($event)"></process-task-stepper>
      <activiti-task-details [taskId]="currentTaskId" (formCompleted)="onFormCompletedInTaskList($event)" [showHeader]="true"
        [showHeaderContent]="false" [showInvolvePeople]="false" [showFormTitle]="false" [showChecklist]="false" [showComments]="false"
        [showFormRefreshButton]="true" #activitidetails></activiti-task-details>
    </div>
  </div>
</div>