<!--SETTING BUTTON-->
<a class="mdl-navigation__link setting-button" data-automation-id="settings" href="" routerLink="/settings">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">settings</i>
    </button>
</a>

<alfresco-login #alfrescologin
                [providers]="providers"
                [fieldsValidation]="customValidation"
                [disableCsrf]="disableCsrf"
                [showLoginActions]="showFooter"
                [showRememberMe]="showFooter"
                copyrightText="© 2016 Alfresco Software, Inc. All Rights Reserved. (customised text)"
                (onSuccess)="onLogin($event)"
                (onError)="onError($event)">
</alfresco-login>
