<div class="page-content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" *ngIf="myTaskList">
      <br>
      <br>
      <adf-tasklist [assignment]="'assignee'" [state]="taskState" [data]="myTaskListDataTable" (rowClick)="onTaskRowClick($event)"
        (onSuccess)="onSuccessTaskList($event)" #activititasklist></adf-tasklist>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" *ngIf="!myTaskList">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="backToTaskList()">
          Back to Task List
        </button>
      <hr>
      <br>
      <adf-task-details [taskId]="currentTaskId" (formCompleted)="onFormCompletedInTaskList($event)" [showHeader]="false"
        [showHeaderContent]="false" [showInvolvePeople]="false" [showFormTitle]="false" [showChecklist]="false" [showComments]="false"
        [readOnlyForm]="true" [showFormRefreshButton]="false" #activitidetails></adf-task-details>
    </div>
  </div>
</div>
