
<!-- Process Services-->
<md-card class="adf-home-card">
  <md-card-title class="adf-home-card-title adf-primary-background-color"  routerLink="/process-services">
    <h2 >
      <md-icon>apps</md-icon>
      <span class="adf-home-card__text">APS - Process Services</span>
    </h2>
  </md-card-title>
  <md-card-content>
    Demonstrates multiple Alfresco Process Services components used together to show your Process Services process and task
  </md-card-content>
</md-card>

<!-- DOCUMENT LIST-->
<md-card class="adf-home-card">
  <md-card-title class="adf-home-card-title adf-primary-background-color"  routerLink="/files">
    <h2 >
      <md-icon>dvr</md-icon>
      <span class="adf-home-card__text">ACS - Content Services</span>
    </h2>
  </md-card-title>
  <md-card-content>
    Demonstrates multiple Alfresco Content Services components used together to display the files of your Content Services instance
  </md-card-content>
</md-card>

